##### config (overwrite in .local)
# login=AAA,BBB

#### private key+
# pk_<walletName>=0xAAA

## Solana chain
# pk_sol_<walletName>=AAA

#### rpc key
# rpc_solana_alchemy1=AAAA

#### dexs swap key
# ACROSS_API_KEY=AAA
# ACROSS_INTEGRATOR_ID=BBB #if missing it uses 0xdead.
# JUPITER_API_KEY=AAA
# JUPITER_API_BASE #optional