##### config (overwrite in .local)
# login=AAA,BBB

#### private key
# pk_raw_<walletName>=0xAAA
# pk_sol_raw_<walletName>=AAA

#### private key+ legacy encoded
# pk_<walletName>=0xAAA
# pk_sol_<walletName>=AAA

#### rpc key
# rpc_key_alchemy=AAAA

#### dexs swap key
# ACROSS_API_KEY=AAA
# ACROSS_INTEGRATOR_ID=BBB #if missing it uses 0xdead.
# JUPITER_API_KEY=AAA
# JUPITER_API_BASE #optional
